package view 

import "github/Kelado/sonoff/internal/basicr3"

templ DeviceOpened(device basicr3.Switch) {
	<button
		class="size-28 rounded-full bg-green-400 shadow-lg"
		hx-post={ "/switch/" + device.ID + "/off" }
		hx-swap="outerHTML"
	>
		// <i class="bi bi-lightbulb-fill"></i>
		// { device.Name }
		<i class="bi bi-power text-5xl text-gray-100"></i>
	</button>
	// <section
	// 	hx-swap="beforeend"
	// 	hx-target="#logs-container"
	// >hi</section>
}
