package view 

import "github/Kelado/sonoff/internal/basicr3"

templ DeviceClosed(device basicr3.Switch) {
	<button
		class="size-28 rounded-full bg-red-400 shadow-lg"
		hx-post={ "/switch/" + device.ID + "/on" }
		hx-swap="outerHTML"
	>
		// <i class="bi bi-lightbulb-off"></i>
		// { device.Name }
		<i class="bi bi-power text-5xl"></i>
	</button>
	// <section
	// 	hx-swap-oob="beforeend #logs-container"
	// >hi</section>
}
